<% provide(:title, "Acerca de") %>
  <h1>Acerca de</h1>
  <p>
  El Registro Nal. de Telecomunicaciones de la <a href="http://www.sutel.go.cr/">SUTEL</a>, 
  ó RNT es una aplicación "protempore" para registrar los asientos de los actos inscribibles del
  registro y permitir su consulta por parte de los usuarios.(Ej. Permisos, Títulos Habilitantes, etc).
  Esta aplicación está siendo desarrollada en estos momentos con el auspicio de la SUTEL.
  El software está siendo desarrollado en lenguaje Ruby con el framework Rails, por el Ing. Jimmy Figueroa
  de dvinciworks.com.
  </p>
