<% provide(:title, "Contacto") %>
  <h1>Contacto</h1>
  <p>
   Contacta la dirección del Registro Nal. de Telecomunicaciones de la
   <a href="http://www.sutel.go.cr/#contact">SUTEL</a> para mayor información.
  </p>
