<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <system.webServer>

        <handlers>

            <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />

        </handlers>   
        <httpPlatform stdoutLogEnabled="true" processesPerApplication="1" stdoutLogFile="\logs\rails.log" startupTimeLimit="20" processPath="C:\row\Ruby21\bin\ruby.exe" arguments="-S puma --env production --dir C:\inetpub\wwwroot\RNT -p %HTTP_PLATFORM_PORT% ">
            <environmentVariables>
		<environmentVariable name="RAILS_ENV" value="development" />
              <environmentVariable name="JAVA_HOME" value="C:\Program Files\Java\jre1.8.0_60" /> 
            </environmentVariables>         

        </httpPlatform>
	<rewrite>
		<rules>
			<rule name="Redirect to HTTPS" enabled="false" stopProcessing="true">
			<match url="(.*)" />
			<conditions><add input="{HTTPS}" pattern="^OFF$" />
			</conditions>
			<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
			</rule>
		</rules>
	</rewrite>
    </system.webServer>

</configuration>