<h2>Lista Operadores Regulados</h2>

<%= will_paginate %>

<table class="table table-hover table-condensed">
  <tr>
    <th>Identificación</th>
    <th>Op. Regulado</th>
    <th>Rep. Legal</th>
    <th>Cédula Rep. Legal</th>
    <th>Código Operador</th>
  </tr>
  <%= render :partial => 'general' %>
</table>

<%= will_paginate %>
