<h2>Lista Servicios SUTEL</h2>

<%= will_paginate %>

<table class="table table-hover table-condensed">
  <tr>
    <th>Id.</th>
    <th>Descripción Servicio</th>
  </tr>
  <%= render :partial => 'general' %>
</table>

<%= will_paginate %>
